.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.estrutura{
    border-top: 0.5rem solid #bc6c25;
    border-left: 0.5rem solid #bc6c25;
    border-right: 0.5rem solid #bc6c25;
    border-radius: 2rem 2rem 0rem 0rem;
}

.estruturaSelecionada{
    border-top: 0.5rem solid #FF0;
    border-left: 0.5rem solid #FF0;
    border-right: 0.5rem solid #FF0;
}

.porta {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1.4rem 1.4rem 0rem 0rem;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    background: #e63946;
    box-shadow: rgb(000, 000, 000) 0px 6px 9px 0px inset, rgba(2, 2, 2, 0.5) -3px -3px 6px 1px inset;
}


.numero {
    position: absolute;
    top: 2rem;
    left: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    font-weight: 900;
    background: #333;
    border-radius: 50%;
    border: 0.1rem solidz #FFFFFF;
}

.macaneta {
    position: absolute;
    top: calc(0.45 * var(--area-porta-altura));
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.basePorta {
    width: 22rem;
    height: 1rem;
    background: #9b2226;
    border: 1px solid #333;
    border-radius: .5rem .5rem 0rem 0rem;
}
